<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      عن التطبيق
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <img src="assets/about.svg" alt="" />
  </div>

  <div class="lead about">
    طبيبك :: اول تطبيق للحجز لدى العيادات والمستشفيات والمراكز التخصصية في
    العراق يعتبر إحجز طبيبك التطبيق الاول من نوعه في العراق وليس المنطقة، وسيكون
    اول دليل شامل لأطباء العراق بالاضافة لأمكانية الحجز (إن توفر)، التطبيق يوفر
    خدمات وميزات كثيرة جميعها مجانية بالنسبة للمستخدمين من اهمها: - يتميز بسهولة
    الاستخدام، حيث تم اختزال جميع الميزات بواجهة واحد بسيطة تجمع كل حاجات المريض
    وتخرج بالنتائج المطلوبة. - امكانية البحث عن اقرب عيادة، او عيادة يتوفر الحجز
    المباشر لها، حيث يتميز البحث لدينا بأنه عملي وسريع وسهل التنقل ويمكن
    الاستفادة من النتائج الاخرى والتي قد لا تتوفر فيها المواقع الدقيقة للفائدة
  </div>

  <ion-item-group>
    <ion-item-divider color="primary">مطورين التطبيق</ion-item-divider>
    <ion-item>
      <ion-icon color="primary" name="person-outline"></ion-icon>
      <p class="name">نورالزهراء صباح</p>
    </ion-item>
    <ion-item
      ><ion-icon color="primary" name="person-outline"></ion-icon>
      <p class="name">حنين يونس</p></ion-item
    >
  </ion-item-group>
</ion-content>
